.container {
    margin: 0 auto;
    width: 400px;
    border: 1px solid rgb(105, 105, 105);
    background-color: rgb(203, 203, 203);
    border-radius: 12px;
    transition-duration: 0.3s;
}

.container:hover {
    box-shadow: 4px 4px 4px rgb(183, 183, 183);
    background-color: rgb(235, 235, 235);
    transition-duration: 0.3s;
    transform: scale(0.95);
}

.propsContainer {
    display: flex;
    justify-content: space-between;
}

.imgContainer {
    padding: 12px;
}

img {
    width: 120px;
    height: 120px;
}

.idProperties {
    padding: 8px;
}

.front-end-skils {
    padding-left: 8px;
}

h1 {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: black;
}

h2 {
    font-size: 22px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

span {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.typewriter h1 {
    width: fit-content;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    25% {
        border-color: orange;
    }
}